{% load static %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header class="jumbotron text-center">
        <h1>Gonçalo Monteiro</h1>
        <p>TheBest</p>
        <nav>
            <a href="{% url 'website:home' %}" class="btn btn-info">Home</a>
            <a href="{% url 'website:about' %}" class="btn btn-info">About Us</a>
            <a href="{% url 'website:contact' %}" class="btn btn-info">Contacts</a>
        </nav>
    </header>
    
    <article class="container">
        <main class="col-sm-6"> 
            {% block main %}
            {% endblock main %}
        </main>
        <aside class="col-sm-6"> 
            <img src="{% static 'website/images/image.jpg' %}">
        </aside>
    </article>
    <footer>The Best Website in the World</footer>
</body>